/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* end */
.header {
    border-bottom: 2px solid #FFFFFF;
    font-size: 16px;
    line-height: 1.13;
    width: 100%;
    position: absolute;

}

.hero {
    padding-top: 170px;
}

.hero:before {
    content: "";
    display: block;
    position: absolute;
}

.container {
    max-width: 1130px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header__conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1370px;
    text-align: center;

}

.header__logo-a {}

.logo {
    display: block;
    min-width: 187px;
    min-width: 81px;
}

.nav {}

.nav__list {
    display: flex;
    column-gap: 36px;
}

.nav__item {
    border-bottom: 2px solid transparent;
}

.nav__item.active {
    border-bottom: 2px solid #FFFFFF;
}

.nav__link {
    font-size: 16px;
    line-height: 1.13;

    color: #FFFFFF;
}

.header__contact {
    display: flex;
    align-items: center;


}

.location,
.phone {
    margin-right: 52px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.13;
}

@media (max-width: 960px) {
    .container {
        max-width: 898px;
    }

    .header .location {
        display: none;
    }
}

.vector__img {}

.vector__mail {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.13;

    color: #FFFFFF;
}

.header__number {}

.phone {

    font-size: 16px;
    line-height: 1.13;

    color: #FFFFFF;
}

.main {
    margin: 0%;
}

.hero {
    height: 100vh;
    background: url(../img/bg/fhon.png) no-repeat center/cover;
    padding-top: 272px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    color: #FFFFFF;
}

.hero__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero__main {

    padding-left: 73px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;

    color: #FFFFFF;

}

.hero .title {
    margin-bottom: 17px;
}

.hero__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.17;
    /* identical to box height */
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .container {
        max-width: 722px;
    }

}

.hero__btns {}

.hero .btn {
    margin-right: 20px;
}

.btn {
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    background: none;
    height: 44px;



}

.btn.btn__rheme {}

.hero__call-to-action {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.hero__call-to-action span {
    color:
        #ED7173;

}


.advantages {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    column-gap: 30px;
}

.advantage {
    text-align: center;
    border-radius: 4px;
    padding-top: 16px 10px;
}

.hero__advantage {
    border: 2px solid #FFFFFF;
    flex: 0 1 276px;
    text-align: center;
    column-gap: 24px;
}



.advantage__img {
    margin-bottom: 14px;

}

.advantage__desc {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}

@media (max-width:680px) {
    .container {
        max-width: 380px;
    }


}



.about {}



.section__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;

    color: #E7E7E7;
    margin-bottom: 10px;
}

.about__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #252525;
    z-index: 10;
    position: relative;
}


.about__item::before {
    counter-increment: item-count;
    content: "0" counter(item-count);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    text-align: center;

    color: #E7E7E7;
    position: absolute;
    top: 0;
    left: 0;

}

.section__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    /* identical to box height */

    text-align: center;

    color: #252525;
    margin-bottom: 60px;
}

.container {}

.about__container {
    max-width: 922px;

}

.about__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 51px;
    counter-reset: item-count;

}

.about__item {
    width: 48%;
    position: relative;
    padding: 45px 0 0 30px;

}

@media (max-wight: 960px) {
    .container {}
}

.service {}

.container {}

.service__container {}

.service__title {
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;

    color: #E7E7E7;

}

.service__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 64px;
    color: #252525;

}

.service__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service__item {
    width: 23%;
    border: 2px solid #D5D5D5;
    margin-bottom: 65px;
}

.service__img {}

.service-img {}

.service__text {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;

}

.service__btn {
    width: 12%;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
    background: none;
    font-family: 'Arial';
    font-style: normal;

    /* identical to box height */

    text-align: center;
    border: 2px solid #D4D4D4;
    color: #252525;

}